.container{
    margin: 50px 0px 40px 0px;
    align-items: center;
    text-align: center;
}
.nameUser{
    text-align: center;
    outline: none;
    border: 1.6px solid #ebbbbb;
    height: 40px;
    width: 50%;
    border-radius: 25px;
}
.nameUser:hover{
    border: 1.6px solid #fa8484;
   
}
.title{
    font-size: calc(1.5em + 1.5vw);
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.name ,.nameUser{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}


