<section class="containerOrder">
    <section class="">
        <div class="headerOrder">
            <p>EsTado:</p>
        </div>
        <div class="clienteOrder">
            <p>Cliente:</p>
        </div>
        <div class="titleDetail"><strong>Detalles de Pedido</strong><p></p></div>
        <div class="detalOrders">
            <div>
                <div class="detail">
                    <p></p>
                    <p></p>
                </div>
                <div class="">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</section>