.Login{
    background-image: url(../images/fondo2.png);
    background-size: cover;
    /* Full height */
    /* height: 100%;  */
    /* width: '100vw'; */
    /* height: '110vh'; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    outline: hidden;
    overflow: hidden;
}

.frameLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50%;
    outline: hidden;
    overflow: hidden;
    background-color: white;
    border: 1px solid white;
    margin-left: 10%;
    margin-top:6%;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 6px rgb(255, 255, 255);
}

.perfilSelection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  box-sizing:border-box;
    width: 40%;
    height: 30%;
    outline: none;
    background-color: #E5E5E5;
    border-radius: 5px;
    /* margin: 40px 50px ; */
    
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: small;
    /* font-weight: bolder; */
    cursor: pointer;
    outline: none;
    border: hidden;
  }
.btn-primary {
    width: 44%;
    height: calc(3.5rem + 2px);
    margin-bottom: 10%;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #F5AC25;
}

