
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    height: 50px;
    background:rgba(102, 88, 48, 0.733);
    // background: #6d6523 ;
    color: rgb(253, 247, 244);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .contenedorHeader {
    width: 98%;
    margin: auto;
  }
  
  h1 {
    float: left;
    // font-size:2.2rem;
  }
  
  header .contenedorHeader {
    display: table;
  }
  
  #menu-bar {
    display: none;
  }
  
  header label {
    float: right;
    font-size: calc(1em + 1vw);
    margin: 11px;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 100vh;
    // background: rgba(255, 255, 255, 0.548);
    // background: rgba(0, 0, 0, 0.4);;
    transition: all 0.5s;
    transform: translateX(-100%);
  }
  
  .menu a {
    cursor: pointer;
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid (146, 130, 87, 0.705);
    // background:rgba(252, 236, 191, 0.582) ;
    text-align: center;
    font-size: calc(0.5em + 0.5vw);
  }
  
  .menu a:hover{
    background:#e4ce96;
    color:#4e3f24;
    transition: all 0.5s;
  }
  
  #menu-bar:checked ~ .menu {
    transform: translateX(0%);
  }
  
  @media (min-width:1024px) {
    .menu {
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      display: flex;
    }
    
    .menu a {
      border: none;
    }
    
    header label { 
      display: none;
    }
  
  }
  
  @media screen and (max-width: 575px) {
    .menu{
      width: 80%;
      top:40px;
    }
    h1 {
      font-size: 24px;
    }
    header{
      height: 40px;
    }
  
  }