body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Signika Negative','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  font-family: 'Nanum Gothic', 'Rubik','Chivo' ;
  /* background-color: black; */
  background-image: url(./images/fondo2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
